.searchContainer {
  margin: 20px auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.inputbar {
  border: none;
  border: 2px solid #29bb89;
  padding: 10px 20px;
  width: 50%;
  outline: none;
  font-size: 16px;
  color: #393e46;
  font-weight: bolder;
  border-radius: 50px;
}
